{
  "extends": ["airbnb", "plugin:jasmine/recommended"],
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "jasmine": true
  },
  "plugins": [
    "jasmine"
  ],
  "rules": {
    "indent": [
      1,
      2
    ],
    "arrow-body-style": [
      2,
      "as-needed"
    ],
    "new-cap": 0,
    "func-names": 0,
    "comma-dangle": 0,
    "no-underscore-dangle": 0
  }
}
